/* CSS Document */

body {
	margin:0;
	padding:0;
	background:#000;
	font-family:Verdana, Geneva, sans-serif;
	color:#ccc;
	z-index:5;	
}

a {
	text-decoration:none;
	color:#ccc;
}

.clear {
	clear:both;
}

#page {
	margin:20px;
	position:relative;
	z-index:3;	
}

#header {
	height:115px;
	overflow:hidden;
	background:#000;
	position:fixed;
	top:0px;
	left:0px;
	z-index:2;
	
}

#header .inner {
	position:relative;
	height:75px;
	margin:20px;
	overflow:hidden;
	background:#000;
	z-index:3;
	
}

#header .fixed {
	float:left;
	width:395px;
	height:75px;
	position:relative;
	z-index:2;
	background:#000;
}

#header .block {
	position:fixed;
	top:20px;
	right:0px;
	height:75px;
	width:20px;
	background:#000;
	z-index:5;
}

#header .me {
	width:69px;
	height:69px;
	border:dashed 3px #fff;
	float:left;
	margin-right:20px;
	margin-left:25px;
	background:url(../img/user.png) no-repeat;
}

#header .me-set {
	width:75px;
	height:75px;
	border:none;
	background:none;
}

#header .me-set img {
	width:75px;
	height:75px;
	margin:0;
	padding:0;
}

#header .controls {
	float:left;
	margin-right:10px;
}

#header .controls .button {
	display:block;
	float:left;
	width:71px;
	height:71px;
	border:dashed 2px #ccc;
	margin-right:10px;
	font-size:35px;
	font-weight:bold;
	text-align:center;
	line-height:60px;
}

#header .controls .list {
	background:url(../img/list.png) no-repeat -2px -2px;
}

#header .hover {
	border-color:#F60 !important;
	background-color:#333 !important;
}

#header .lists {
	float:left;
	position:relative;
	z-index:1;
}

#header .lists img {
	cursor:pointer;
	display:block;
	float:left;
	width:75px;
	height:75px;
	margin-right:5px;
}

#content {
	margin-top:115px;
	position:absolute;
	z-index:1;
	width:960px;
}

.photo {
	clear:both;
	margin-bottom:20px;
}

.photo .left {
	float:left;
	width:100px;
	margin-right:20px;
	text-align:right;
}

.photo .left img {
	width:50px;
	height:50px;
	display:block;
	float:right;
	margin:0;
}

.photo .right {
	float:left;
	width:800px;	
}

.photo .right img {
	/*width:800px;*/
	max-height:450px;
	-ms-interpolation-mode:bicubic;	
	z-index:1;
}

/*#content {
	width:100%;
}*/

/*#content.small {
	width:700px;
}

#content.medium {
	width:1200px;
}

#content.large {
	width:1400px;
}*/

.small .photo .right,  .small .photo .right img {
	/*width:500px;*/
	max-height:300px;	
}

.medium .photo .right,  .medium .photo .right img {
	/*width:1000px;*/
	max-height:500px;	
}

.large .photo .right,  .large .photo .right img {
	/*width:1200px;*/
	max-height:550px;	
}

.x-large .photo .right,  .x-large .photo .right img {
	/*width:1200px;*/
	max-height:650px;	
}




#drop {	
	width:100%;
	height:100%;
	position:fixed;
	z-index:1000;
	opacity:0.4;
	-moz-opacity:0.4;
	background:transparent;
	top:0px;
	left:0px;
	/*border:dashed 4px #666;*/
}

#drop.hover {
	width:95%;
	height:95%;
	background:#FFC;
	border:dashed 4px #FC6;
	top:2%;
	left:2%;
}

#clipboardData {
	position:absolute;
	left:-1000px;
}